
table.dynamic tbody tr{
	display:none;
}
table.dynamic tbody tr.show{
	display:block;
}

table.paginated{
	width:100%;
	font-size:.8em;
	font-family:arial,sans-serif;
	 
	border: none;
	text-align: left;
}
table.paginated td,table.paginated th{
	border:none;
	border-top:none;
	border-left:none;
}
p.paginatedNav{
	font-size:1em;
	font-family:arial,sans-serif;
	width:90%;
	padding:.5em 10px;
	margin:0;
	text-align:right;
	font-weight:bold;
}
p.paginatedNav a{
	color:#ccc;
}
p.paginatedNav a:link,
p.paginatedNav a:visited
{
	color:#369;
}
