<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>About Us</title>

<style>
#footLinks
{
 
 font-family: calibri;
 text-align: justify;
} 
</style>

</head>

<body >
<div id="footLinks">
	<div align="center"><h1>About Us</h1>
    </div>
	<p> Information Technology is playing a major role in our modern world.” IT” is the factor for any business to grow. There are numerous IT companies offering services to vendors worldwide and it has become a challenge for the business operators to choose the right vendor. Statistics today has revealed that the cost of IT failure is approximately $6.2 trillion. Amidst all these, we have successfully employed the rule “Solutions Simplified” to ensure our clients Success.</p>
<p>Sunrays Technology Solutions was established in Chennai by a group of technocrats with the strong objective of creating a unique position in the field of IT services. Our technical expertise will help transform complex business requirements into simple IT solutions.</p>
<p>Sunrays Technology Solutions is a specialized Software development company offering Software Application Development, Products Development, Product / Application Packaging, System maintenance and Testing Services. </p> 
<p> Sunrays stands unique in the way it offers services to its clients. We understand our clients’ needs and extend our support to help them grow their business by implementing effective softwalre solutions. </p>
<strong>Vision</strong>
<dl> "We will be a global leader in offering unique IT solutions and services"  </dl>
<strong>Mission</strong>
<dl>"Revolutionize IT by inventions, innovations and business models thus facilitating the industry grow" </dl>
<strong>Values</strong>
<p>The values that drive us are:</p>
<ol><em><strong>Client’s Significance:</strong></em> To exceed our client’s expectations constantly</ol>
<ol><em><strong>Demonstrating Leadership Skills:</strong></em> To set high morals in our business methodologies and be a prototype for the rest of the peers</ol>
<ol><em><strong>Reliability:</strong></em>: To be ethical, sincere and clear in all our transactions </ol>
<ol><em><strong>Superiority</strong>:</em> To strive and constantly improve ourselves to be the best in the business</ol>
For more details contact us @ <strong>services@sunraysts.com </strong>

</div>

</body>
</html>
