<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {color: #0000FF}
-->

#footLinks
{
 
 font-family: calibri;
 text-align: justify;
} 
</style>
</head>

<body>
<div id="footLinks">
<div align="center"><h1>Contact Us</h1></div>
<ol>For inquiries related to services and project proposals, email us at <u><span class="style1">services@sunraysts.com</span></u>
</ol>
<ol>For inquiries related to our other products, email us at <u><span class="style1">products@sunraysts.com</span></u>
</ol>
<ol>For inquiries and information related to Sunrays, email us at <u><span class="style1">info@sunraysts.com</span></u></ol>
<ol>For inquires related to Lawyers Office Management System (LOMS), email us at <u><span class="style1">loms.support@sunraysts.com</span></u></ol>
<ol>
  <div align="justify">For any other information visit our website <u><span class="style1">www.sunraysts.com</span></u></div>
</ol>
</div>

</body>
</html>
