<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style>
#footLinks
{
 
 font-family: calibri;
 text-align: justify;
} 
</style>
</head>

<body>
<div id="footLinks">
<div align="center"><h1>Disclaimer</h1></div>
<p>Sunrays Technology Solutions does not invite reliance upon, nor accept responsibility for, the information it provides. Sunrays Technology Solutions makes every effort to provide a high quality service. However, neither Sunrays Technology Solutions nor the providers of data on Sunrays Technology Solutions, give any guarantees, undertakings or warranties concerning the accuracy, completeness or up-to-date nature of the information provided. Users should confirm information from another source if it is of sufficient importance for them to do so.</p>
</div>
</body>
</html>
